# Файл с настройками для редактора.
#
# Если вы разрабатываете в редакторе от JetBrains, BBEdit, Coda или SourceLair
# этот файл уже поддерживается и не нужно производить никаких дополнительных действий.
#
# Если вы ведете разработку в другом редакторе, зайдите на http://editorconfig.org/
# и в разделе "Download a Plugin" скачайте дополнение для вашего редактора.

[*]
root = true

# Кодировка файлов utf-8
charset = utf-8

# Обязательное добавление пустой строки в конец каждого файла
insert_final_newline = true

# Отступы делаются с помощью двух пробелов
indent_style = space
indent_size = 2

# Удаление пустых пробелов в конце строки
trim_trailing_whitespace = true
